:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 98vh;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} */

body,
#root {
  height: 100%;
}

.schema {
  color: var(--vscode-foreground);
  display: block;

  ul {
    margin: 5px 0;
    padding: 0 0.75em;
    list-style-type: none;
  }

  li.schema {
    list-style: none;
  }

  .hidden ul {
    display: none;
  }

  li.fields {
    margin: 2px 0;
  }

  li.fields label {
    display: block;
    font-size: 10px;
    margin-left: 5px;
    margin-top: 0.5em;
    text-transform: uppercase;
  }

  .explore_name {
    line-height: 2em;
    font-weight: 600;
  }

  .field {
    white-space: nowrap;
    display: flex;
    vertical-align: middle;
    border: 1px solid var(--vscode-notebook-cellBorderColor);
    border-radius: 8px;
    padding: 0.25em 0.75em;
    margin: 0.2em;

    &.clickable {
      cursor: pointer;
    }
  }

  .field_list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.25em;
  }

  .field_name {
    padding-left: 0.5em;
    user-select: none;
  }

  svg {
    position: relative;
    left: -2px;
  }

  .field_name,
  svg,
  span,
  b {
    vertical-align: middle;
    display: inline-block;
  }

  .preview {
    color: var(--vscode-editorCodeLens-foreground);
    font-size: 0.8em;
    padding-left: 5px;
    cursor: pointer;

    &:hover {
      color: var(--vscode-editorLink-activeForeground);
    }
  }

  .chevron {
    color: var(--vscode-icon-foreground);
  }
}

.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  gap: 1rem;

  li {
    list-style: none;
    padding: 0.25em 0.5em;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid black;
  }
  li.active {
    background-color: aqua;
  }
}
.columns {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: baseline;
}

.model-explorer {
  h2 {
    margin: 0;
  }
}

.malloy-result-display {
  height: 300px;
  overflow: auto;
}
