:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 98vh;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} */

body {
  margin: 0;
  height: 100%;
}

#root {
  padding: 0.25rem 0.75rem;
  height: 100%;
  /* Reset */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

nav {
  > ul {
    display: flex;
    gap: 1.5rem;
  }
}

.schema {
  color: var(--vscode-foreground);
  display: block;

  ul {
    margin: 5px 0;
    padding: 0 0.75em;
    list-style-type: none;
  }

  li.schema {
    list-style: none;
  }

  .hidden ul {
    display: none;
  }

  li.fields {
    margin: 2px 0;
  }

  li.fields label {
    display: block;
    font-size: 10px;
    margin-left: 5px;
    margin-top: 0.5em;
    text-transform: uppercase;
  }

  .explore_name {
    line-height: 2em;
    font-weight: 600;
  }

  .field {
    white-space: nowrap;
    display: flex;
    vertical-align: middle;
    border: 1px solid var(--vscode-notebook-cellBorderColor);
    border-radius: 8px;
    padding: 0.25em 0.75em;
    margin: 0.2em;

    &.clickable {
      cursor: pointer;
    }
  }

  .field_list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.25em;
  }

  .field_name {
    padding-left: 0.5em;
    user-select: none;
  }

  svg {
    position: relative;
    left: -2px;
  }

  .field_name,
  svg,
  span,
  b {
    vertical-align: middle;
    display: inline-block;
  }

  .preview {
    color: var(--vscode-editorCodeLens-foreground);
    font-size: 0.8em;
    padding-left: 5px;
    cursor: pointer;

    &:hover {
      color: var(--vscode-editorLink-activeForeground);
    }
  }

  .chevron {
    color: var(--vscode-icon-foreground);
  }
}

.columns {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: baseline;
}

.model-explorer {
  height: 85%;
  h2 {
    margin: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.notebook {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & .malloy-result-display {
    width: 95%;
    height: 350px;
    overflow: auto;
  }

  & details {
    width: 100%;
  }

  & div[popover] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 90%;
    height: 90%;
  }

  & div[popover]::backdrop {
    backdrop-filter: blur(2px);
  }

  & summary {
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .notebook-cell {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
}

.menu {
  anchor-scope: --menu-button;

  & button {
    anchor-name: --menu-button;
    width: fit-content;
    background-color: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    text-decoration: underline;
    font-size: 1rem;
  }
  & ul[popover] {
    position: fixed;
    position-anchor: --menu-button;
    inset-block-start: anchor(--menu-button bottom);
    inset-inline-start: anchor(--menu-button right);
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    border: 0;
    & li {
      padding: 0.5rem;
    }
  }
}
